    .cls-1,
    .cls-142,
    .cls-144,
    .cls-145,
    .cls-41,
    .cls-56,
    .cls-85 {
      fill: none;
    }
    
    .cls-2 {
      isolation: isolate;
    }
    
    .cls-3 {
      fill: url(#linear-gradient);
    }
    
    .cls-4 {
      fill: url(#linear-gradient-2);
    }
    
    .cls-5 {
      fill: url(#linear-gradient-3);
    }
    
    .cls-6 {
      fill: url(#linear-gradient-4);
    }
    
    .cls-38,
    .cls-7,
    .cls-77,
    .cls-8 {
      opacity: 0.4;
    }
    
    .cls-7 {
      fill: url(#linear-gradient-5);
    }
    
    .cls-8 {
      fill: url(#linear-gradient-6);
    }
    
    .cls-15,
    .cls-16,
    .cls-17,
    .cls-18,
    .cls-20,
    .cls-59,
    .cls-63,
    .cls-75,
    .cls-76,
    .cls-78,
    .cls-9,
    .cls-94 {
      opacity: 0.3;
    }
    
    .cls-9 {
      fill: url(#linear-gradient-7);
    }
    
    .cls-10 {
      fill: url(#linear-gradient-8);
    }
    
    .cls-11 {
      fill: url(#linear-gradient-9);
    }
    
    .cls-12 {
      fill: url(#linear-gradient-10);
    }
    
    .cls-13 {
      opacity: 0.35;
      fill: url(#linear-gradient-11);
    }
    
    .cls-14 {
      fill: url(#linear-gradient-12);
    }
    
    .cls-15 {
      fill: url(#linear-gradient-13);
    }
    
    .cls-16 {
      fill: url(#linear-gradient-14);
    }
    
    .cls-17 {
      fill: url(#linear-gradient-15);
    }
    
    .cls-18 {
      fill: url(#linear-gradient-16);
    }
    
    .cls-19 {
      opacity: 0.03;
    }
    
    .cls-19,
    .cls-67 {
      mix-blend-mode: multiply;
    }
    
    .cls-20,
    .cls-26,
    .cls-82 {
      fill: #001a3b;
    }
    
    .cls-105,
    .cls-112,
    .cls-113,
    .cls-117,
    .cls-118,
    .cls-121,
    .cls-21,
    .cls-33,
    .cls-37,
    .cls-43,
    .cls-57,
    .cls-87,
    .cls-90,
    .cls-99 {
      opacity: 0.5;
    }
    
    .cls-21 {
      fill: url(#New_Gradient_Swatch_13);
    }
    
    .cls-22,
    .cls-82,
    .cls-97 {
      opacity: 0.2;
    }
    
    .cls-23 {
      fill: #001439;
      fill-rule: evenodd;
    }
    
    .cls-24 {
      opacity: 0.15;
    }
    
    .cls-25 {
      opacity: 0.1;
    }
    
    .cls-27 {
      fill: url(#linear-gradient-17);
    }
    
    .cls-28,
    .cls-38,
    .cls-57,
    .cls-58 {
      fill: #002853;
    }
    
    .cls-29 {
      fill: #fff5d7;
    }
    
    .cls-122,
    .cls-126,
    .cls-30,
    .cls-35,
    .cls-58 {
      opacity: 0.7;
    }
    
    .cls-30 {
      fill: url(#radial-gradient);
    }
    
    .cls-31 {
      fill: url(#linear-gradient-18);
    }
    
    .cls-32 {
      fill: #264f75;
    }
    
    .cls-33 {
      fill: url(#linear-gradient-19);
    }
    
    .cls-34 {
      fill: url(#linear-gradient-20);
    }
    
    .cls-35 {
      fill: url(#radial-gradient-2);
    }
    
    .cls-36 {
      fill: url(#linear-gradient-21);
    }
    
    .cls-37 {
      fill: url(#linear-gradient-22);
    }
    
    .cls-39,
    .cls-55,
    .cls-71 {
      opacity: 0.52;
    }
    
    .cls-39 {
      fill: url(#linear-gradient-23);
    }
    
    .cls-40 {
      fill: #004f75;
    }
    
    .cls-41 {
      stroke: #005177;
      stroke-width: 11.9px;
    }
    
    .cls-142,
    .cls-144,
    .cls-145,
    .cls-41,
    .cls-56,
    .cls-85,
    .cls-87 {
      stroke-miterlimit: 10;
    }
    
    .cls-42 {
      fill: url(#radial-gradient-3);
    }
    
    .cls-43,
    .cls-53,
    .cls-59 {
      fill: #372a3d;
    }
    
    .cls-121,
    .cls-44 {
      fill: #fff;
    }
    
    .cls-45 {
      fill: url(#linear-gradient-24);
    }
    
    .cls-46 {
      fill: #ffed97;
    }
    
    .cls-47 {
      fill: url(#linear-gradient-25);
    }
    
    .cls-48 {
      fill: url(#New_Gradient_Swatch_14);
    }
    
    .cls-49 {
      fill: url(#linear-gradient-26);
    }
    
    .cls-50 {
      fill: url(#linear-gradient-27);
    }
    
    .cls-51 {
      fill: #391a1e;
    }
    
    .cls-51,
    .cls-52,
    .cls-56,
    .cls-66 {
      opacity: 0.25;
    }
    
    .cls-54 {
      opacity: 0.42;
      fill: url(#linear-gradient-28);
    }
    
    .cls-55 {
      fill: url(#linear-gradient-29);
    }
    
    .cls-56,
    .cls-85 {
      stroke: #001a3b;
    }
    
    .cls-56 {
      stroke-width: 3.22px;
    }
    
    .cls-60 {
      fill: url(#linear-gradient-30);
    }
    
    .cls-61 {
      fill: url(#linear-gradient-31);
    }
    
    .cls-62 {
      fill: #e2cfac;
    }
    
    .cls-100,
    .cls-63 {
      fill: #117768;
    }
    
    .cls-64 {
      fill: url(#linear-gradient-32);
    }
    
    .cls-65 {
      fill: url(#New_Gradient_Swatch_15);
    }
    
    .cls-66 {
      fill: url(#linear-gradient-33);
    }
    
    .cls-67 {
      opacity: 0.33;
    }
    
    .cls-68 {
      clip-path: url(#clip-path);
    }
    
    .cls-69 {
      opacity: 0.68;
    }
    
    .cls-70 {
      opacity: 0.6;
      fill: url(#linear-gradient-34);
    }
    
    .cls-71 {
      fill: url(#linear-gradient-35);
    }
    
    .cls-72 {
      fill: #c6bda7;
    }
    
    .cls-73 {
      fill: #d6ccb2;
    }
    
    .cls-74 {
      opacity: 0.78;
      fill: url(#linear-gradient-36);
    }
    
    .cls-75 {
      fill: #0f6355;
    }
    
    .cls-76 {
      fill: #0d6355;
    }
    
    .cls-77 {
      fill: url(#New_Gradient_Swatch_7);
    }
    
    .cls-78 {
      fill: url(#New_Gradient_Swatch_7-2);
    }
    
    .cls-79 {
      fill: url(#radial-gradient-4);
    }
    
    .cls-80 {
      fill: #142b3f;
    }
    
    .cls-81 {
      fill: url(#linear-gradient-37);
    }
    
    .cls-83 {
      fill: url(#linear-gradient-38);
    }
    
    .cls-84 {
      fill: #132a3f;
    }
    
    .cls-144,
    .cls-85 {
      stroke-linecap: round;
    }
    
    .cls-85 {
      stroke-width: 8.25px;
    }
    
    .cls-86 {
      fill: #122f42;
    }
    
    .cls-87 {
      stroke: #ffeecb;
      stroke-width: 4.3px;
      fill: url(#radial-gradient-5);
    }
    
    .cls-88 {
      fill: url(#radial-gradient-6);
    }
    
    .cls-89 {
      fill: url(#radial-gradient-7);
    }
    
    .cls-91 {
      fill: url(#linear-gradient-39);
    }
    
    .cls-92 {
      fill: url(#linear-gradient-40);
    }
    
    .cls-93 {
      fill: url(#linear-gradient-41);
    }
    
    .cls-95 {
      fill: url(#linear-gradient-42);
    }
    
    .cls-96 {
      fill: url(#linear-gradient-43);
    }
    
    .cls-97 {
      fill: url(#linear-gradient-44);
    }
    
    .cls-98 {
      fill: url(#linear-gradient-45);
    }
    
    .cls-99 {
      fill: url(#linear-gradient-46);
    }
    
    .cls-101 {
      fill: url(#linear-gradient-47);
    }
    
    .cls-102 {
      fill: url(#linear-gradient-48);
    }
    
    .cls-103 {
      fill: url(#linear-gradient-49);
    }
    
    .cls-104 {
      fill: url(#linear-gradient-50);
    }
    
    .cls-105 {
      fill: url(#New_Gradient_Swatch_13-2);
    }
    
    .cls-106 {
      fill: #42273c;
    }
    
    .cls-107,
    .cls-111 {
      fill: #973840;
    }
    
    .cls-107,
    .cls-108 {
      opacity: 0.63;
    }
    
    .cls-108,
    .cls-109 {
      fill: #ae5154;
    }
    
    .cls-110 {
      fill: #853b42;
    }
    
    .cls-112 {
      fill: url(#New_Gradient_Swatch_13-3);
    }
    
    .cls-113 {
      fill: url(#New_Gradient_Swatch_13-4);
    }
    
    .cls-114 {
      fill: url(#New_Gradient_Swatch_13-5);
    }
    
    .cls-115 {
      fill: url(#New_Gradient_Swatch_13-6);
    }
    
    .cls-116 {
      fill: url(#New_Gradient_Swatch_13-7);
    }
    
    .cls-117 {
      fill: url(#New_Gradient_Swatch_13-8);
    }
    
    .cls-118 {
      fill: url(#New_Gradient_Swatch_13-9);
    }
    
    .cls-119 {
      fill: url(#linear-gradient-51);
    }
    
    .cls-120 {
      fill: url(#linear-gradient-52);
    }
    
    .cls-121,
    .cls-126 {
      mix-blend-mode: lighten;
    }
    
    .cls-123 {
      fill: #af5153;
    }
    
    .cls-124 {
      fill: url(#linear-gradient-53);
    }
    
    .cls-125 {
      opacity: 0.11;
    }
    
    .cls-126 {
      fill: url(#radial-gradient-8);
    }
    
    .cls-127 {
      fill: #2d71a8;
    }
    
    .cls-128 {
      fill: url(#New_Gradient_Swatch_5);
    }
    
    .cls-129 {
      fill: url(#New_Gradient_Swatch_5-2);
    }
    
    .cls-130 {
      fill: url(#New_Gradient_Swatch_5-3);
    }
    
    .cls-131 {
      fill: url(#New_Gradient_Swatch_5-4);
    }
    
    .cls-132 {
      fill: #034677;
    }
    
    .cls-133 {
      fill: url(#New_Gradient_Swatch_5-5);
    }
    
    .cls-134 {
      fill: url(#New_Gradient_Swatch_5-6);
    }
    
    .cls-135 {
      fill: url(#New_Gradient_Swatch_5-7);
    }
    
    .cls-136 {
      fill: url(#New_Gradient_Swatch_5-8);
    }
    
    .cls-137 {
      fill: url(#New_Gradient_Swatch_5-9);
    }
    
    .cls-138 {
      fill: url(#New_Gradient_Swatch_5-10);
    }
    
    .cls-139 {
      fill: url(#New_Gradient_Swatch_5-11);
    }
    
    .cls-140 {
      fill: url(#New_Gradient_Swatch_5-12);
    }
    
    .cls-141 {
      fill: url(#New_Gradient_Swatch_3);
    }
    
    .cls-142,
    .cls-144 {
      stroke: #1b4268;
    }
    
    .cls-142,
    .cls-145 {
      stroke-width: 28.71px;
    }
    
    .cls-143 {
      fill: #1b4268;
    }
    
    .cls-144 {
      stroke-width: 19.14px;
    }
    
    .cls-145 {
      stroke: #21557f;
    }
    
    .cls-146 {
      fill: url(#Summer);
    }
    
    .cls-147 {
      fill: url(#Summer-2);
    }
    
    .cls-148 {
      fill: url(#Summer-3);
    }
    
    .cls-149 {
      fill: url(#Summer-4);
    }
    
    .cls-150 {
      fill: url(#Summer-5);
    }
    
    .cls-151 {
      fill: url(#Summer-6);
    }
    
    .cls-152 {
      fill: url(#Summer-7);
    }
    
    .cls-153 {
      fill: url(#Summer-8);
    }
    
    .cls-154 {
      fill: url(#Summer-9);
    }
    
    .cls-155 {
      fill: url(#Summer-10);
    }
    
    .cls-156 {
      fill: url(#Summer-11);
    }
    
    .cls-157 {
      fill: url(#New_Gradient_Swatch_11);
    }
    
    .cls-158 {
      fill: url(#New_Gradient_Swatch_11-2);
    }
    
    .cls-159 {
      fill: url(#New_Gradient_Swatch_11-3);
    }
    
    .cls-160 {
      fill: url(#New_Gradient_Swatch_11-4);
    }
    
    .cls-161 {
      fill: url(#New_Gradient_Swatch_11-5);
    }
    
    .cls-162 {
      fill: url(#New_Gradient_Swatch_11-6);
    }
    
    .cls-163 {
      fill: url(#New_Gradient_Swatch_11-7);
    }
    
    .cls-164 {
      fill: url(#New_Gradient_Swatch_11-8);
    }
    
    .cls-165 {
      fill: url(#New_Gradient_Swatch_11-9);
    }
    
    .cls-166 {
      fill: url(#New_Gradient_Swatch_11-10);
    }
    
    .cls-167 {
      fill: url(#New_Gradient_Swatch_11-11);
    }
    
    .cls-168 {
      fill: url(#New_Gradient_Swatch_9);
    }
    
    .cls-169 {
      fill: url(#New_Gradient_Swatch_9-2);
    }
    
    .cls-170 {
      fill: url(#New_Gradient_Swatch_9-3);
    }
    
    .cls-171 {
      fill: url(#New_Gradient_Swatch_9-4);
    }
    
    .cls-172 {
      fill: url(#New_Gradient_Swatch_9-5);
    }
    
    .cls-173 {
      fill: url(#New_Gradient_Swatch_9-6);
    }
    
    .cls-174 {
      fill: url(#New_Gradient_Swatch_9-7);
    }
    
    .cls-175 {
      fill: url(#New_Gradient_Swatch_9-8);
    }
    
    .cls-176 {
      fill: url(#New_Gradient_Swatch_9-9);
    }
    
    .cls-177 {
      fill: url(#New_Gradient_Swatch_11-12);
    }
    
    .cls-178 {
      fill: url(#New_Gradient_Swatch_11-13);
    }
    
    .cls-179 {
      fill: url(#New_Gradient_Swatch_11-14);
    }
    
    .cls-180 {
      fill: url(#New_Gradient_Swatch_11-15);
    }
    
    .cls-181 {
      fill: url(#New_Gradient_Swatch_11-16);
    }
    
    .cls-182 {
      fill: url(#New_Gradient_Swatch_11-17);
    }
    
    .cls-183 {
      fill: url(#New_Gradient_Swatch_11-18);
    }
    
    .cls-184 {
      fill: url(#New_Gradient_Swatch_11-19);
    }
    
    .cls-185 {
      fill: url(#New_Gradient_Swatch_11-20);
    }
    
    .cls-186 {
      fill: url(#New_Gradient_Swatch_11-21);
    }
    
    .cls-187 {
      fill: url(#New_Gradient_Swatch_11-22);
    }
    
    .cls-188 {
      fill: url(#New_Gradient_Swatch_9-10);
    }
    
    .cls-189 {
      fill: url(#New_Gradient_Swatch_9-11);
    }
    
    .cls-190 {
      fill: url(#New_Gradient_Swatch_9-12);
    }
    
    .cls-191 {
      fill: url(#New_Gradient_Swatch_9-13);
    }
    
    .cls-192 {
      fill: url(#New_Gradient_Swatch_9-14);
    }
    
    .cls-193 {
      fill: url(#New_Gradient_Swatch_9-15);
    }
    
    .cls-194 {
      fill: url(#New_Gradient_Swatch_9-16);
    }
    
    .cls-195 {
      fill: url(#New_Gradient_Swatch_9-17);
    }
    
    .cls-196 {
      fill: url(#New_Gradient_Swatch_9-18);
    }
    
    .cls-197 {
      fill: url(#New_Gradient_Swatch_9-19);
    }
    
    .cls-198 {
      fill: url(#New_Gradient_Swatch_9-20);
    }
    
    .cls-199 {
      fill: url(#Summer-12);
    }
    
    .cls-200 {
      fill: url(#Summer-13);
    }
    
    .cls-201 {
      fill: url(#Summer-14);
    }
    
    .cls-202 {
      fill: url(#Summer-15);
    }
    
    .cls-203 {
      fill: url(#Summer-16);
    }
    
    .cls-204 {
      fill: url(#Summer-17);
    }
    
    .cls-205 {
      fill: url(#Summer-18);
    }
    
    .cls-206 {
      fill: url(#Summer-19);
    }
    
    .cls-207 {
      fill: url(#Summer-20);
    }
    
    .cls-208 {
      fill: url(#New_Gradient_Swatch_9-21);
    }
    
    .cls-209 {
      fill: url(#New_Gradient_Swatch_9-22);
    }
    
    .cls-210 {
      fill: url(#New_Gradient_Swatch_9-23);
    }
    
    .cls-211 {
      fill: url(#New_Gradient_Swatch_9-24);
    }
    
    .cls-212 {
      fill: url(#New_Gradient_Swatch_9-25);
    }
    
    .cls-213 {
      fill: url(#New_Gradient_Swatch_9-26);
    }
    
    .cls-214 {
      fill: url(#New_Gradient_Swatch_9-27);
    }
    
    .cls-215 {
      fill: url(#New_Gradient_Swatch_9-28);
    }
    
    .cls-216 {
      fill: url(#New_Gradient_Swatch_9-29);
    }
    
    .cls-217 {
      fill: url(#New_Gradient_Swatch_9-30);
    }
    
    .cls-218 {
      fill: url(#New_Gradient_Swatch_9-31);
    }
    
    .cls-219 {
      fill: url(#Summer-21);
    }
    
    .cls-220 {
      fill: url(#Summer-22);
    }
    
    .cls-221 {
      fill: url(#Summer-23);
    }
    
    .cls-222 {
      fill: url(#Summer-24);
    }
    
    .cls-223 {
      fill: url(#Summer-25);
    }
    
    .cls-224 {
      fill: url(#Summer-26);
    }
    
    .cls-225 {
      fill: url(#Summer-27);
    }
    
    .cls-226 {
      fill: url(#Summer-28);
    }
    
    .cls-227 {
      fill: url(#Summer-29);
    }
    
    .cls-228 {
      fill: url(#Summer-30);
    }
    
    .cls-229 {
      fill: url(#Summer-31);
    }
    
    .cls-230 {
      fill: url(#New_Gradient_Swatch_11-23);
    }
    
    .cls-231 {
      fill: url(#New_Gradient_Swatch_11-24);
    }
    
    .cls-232 {
      fill: url(#New_Gradient_Swatch_11-25);
    }
    
    .cls-233 {
      fill: url(#New_Gradient_Swatch_11-26);
    }
    
    .cls-234 {
      fill: url(#New_Gradient_Swatch_11-27);
    }
    
    .cls-235 {
      fill: url(#New_Gradient_Swatch_11-28);
    }
    
    .cls-236 {
      fill: url(#New_Gradient_Swatch_11-29);
    }
    
    .cls-237 {
      fill: url(#New_Gradient_Swatch_11-30);
    }
    
    .cls-238 {
      fill: url(#New_Gradient_Swatch_11-31);
    }
    
    body {
      text-align: center;
    }
    
    .dribbble_shot {
      max-width: 1200px;
    }
    
    .fire_ {
      width: 1500px;
      height: 1500px;
      background-image: url('http://svgshare.com/i/sw.svg');
      background-size: 100%;
      background-position: top;
      animation: back_anim 2s steps(14) infinite;
    }
    
    @keyframes back_anim {
      100% {
        background-position: bottom;
      }
    }
    
    .fire-halo {
      animation: halo .5s ease infinite;
      transform-origin: center;
    }
    
    @keyframes halo {
      50% {
        transform: scale(1.1)
      }
    }
    
    .lights_ {
      filter: url('#blur');
      opacity: 0;
      animation: light-glow 1s linear infinite;
    }
    
    @keyframes light-glow {
      50% {
        opacity: .1;
      }
    }
    
    .glow-01 {
      animation: glow-layer-01 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      opacity: 0;
    }
    
    .glow-02 {
      animation: glow-layer-02 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      opacity: 0;
    }
    
    .glow-03 {
      animation: glow-layer-03 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
      opacity: 0;
    }
    
    @keyframes glow-layer-01 {
      0%,
      33% {
        opacity: 1;
      }
      100% {
        opacity: 0
      }
    }
    
    @keyframes glow-layer-02 {
      0%,
      33% {
        opacity: 0;
      }
      34%,
      76% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    
    @keyframes glow-layer-03 {
      0%,
      77% {
        opacity: 0;
      }
      78%,
      100% {
        opacity: 1;
      }
    }